@use"../layout/header.scss";
@use"../layout/footer.scss";
@use"../base/fonts.scss";
@use"../abstracts/variables.scss";
@use"../components/forms.scss";
@use"../abstracts/errores.scss";

.bodyInicio{
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #e8eafc;


    .infoCuenta{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }
    .alinear{
        width: 96%;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        .contenedorInversiones{
            margin-left: 2.5rem;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            width: 70%;
            padding: 0 1.5rem 2rem 1.5rem;        
            background-color: aliceblue;
            
            box-shadow: 1px 1px 5px black;
        
            .inversionesEncabezado{
                text-align: center;
                width: 100%;
                display: grid;
                min-height: 2rem;
            
                border-bottom: 1px solid;
                grid-template-columns: repeat(6, 1fr);
                align-items: center;
                background-color: rgb(227, 232, 255);
            
                .misInversionesOperar{
                    width: auto;
                }
            }

            .spanInversiones{
                margin-top: 1.5rem;
                padding: 0 0 1rem 0;
                width: 100%;
                font-size: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
        
            }
            .divInversiones{
                width: 100%;
                text-align: center;
                box-shadow: 1 0 5px black;
           
                .sectionInversion{
                
                    width: 100%;
                    background-color: white;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    justify-content: center;
                    align-items: center;
                    padding: 4px 0;

                    .inversionesVenderComprar{
                        padding-right: 4px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .inversionesComprar{
                            text-decoration: none;
                            color: variables.$color-ganancia;
                            cursor: pointer;
                        }
                        .inversionesVender{
                            text-decoration: none;
                            color: variables.$color-perdida;
                            cursor: pointer;
                        }
                    }
                }
            }
            .divTotalInversion{
                background-color: rgb(227, 232, 255);
                border: 1px solid black;
                min-height: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .infoPersonal{
            margin-right: -2.4rem;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            width: 22%;
            padding: 1rem 0;        
            background-color: aliceblue;
            box-shadow: 1px 1px 5px black;
            box-sizing: border-box;

            .divinfopersonal{
                width: 100%;
                height: 6rem;
                display: flex;
                padding: 0 0 1rem 1rem ;
                gap: 32px;

                .nombreCuenta{
                    width: 100%;
                    font-size: 2rem;
                   
                }
                .liquidezEnCuenta{
                    width: 100%;
                    font-size: 2rem;
                 
                }
                .totalInvertidoEnCuenta{
                    width: 100%;
                    font-size: 2rem;
              
                }
            }

      }  
    }

    .contenedorMisOrdenes{
        height: auto;
        margin: 0 auto; 
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 96%;
        padding: 0 1.5rem 0 1.5rem;        
        background-color: aliceblue;
        padding-bottom: 1rem;
        box-shadow: 1px 1px 5px black;

        .spanOrdenes{
            margin-top: 1.5rem;
            padding: 1rem 0 1rem 0;
            width: 100%;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ordenesEncabezado{
            text-align: center;
            width: 100%;
            display: grid;
            min-height: 2rem;
            border-bottom: 1px solid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            background-color: rgb(227, 232, 255);

        }

        .sectionMisOrdenes{
            width: 100%;
            background-color: white;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: center;
            align-items: center;
            padding: 4px 0;
            text-align: center;
        }
    }
    .noHayOrdenes{
        font-size: 2rem;
        text-align: center;
    }
}
